<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="posts">
        <% @posts.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to post.tittle, post %></span>
            <span class="post-user">Publicado por: <%= post.user.try(:name) %>
            <% date=post.created_at.strftime("%d %B de %Y") %>
      <%array=date.split(' ')%>
      <%downcased=array[1].downcase%>
      <%months={january: "enero", february:"febrero", march:"marzo", april: "abril"}%>
      <% a=[] %>
      <% months.each do |key, value| %>
      <%   if downcased==key.to_s %>
      <%     a << value %>
      <%   end %>
      <% end %>
      <%month= a.join('').capitalize %>
      
      <small>(<%='el'+' '+array[0]+' '+'de'+' '+month+' '+'del'+' '+array[3] %>)</small>
            <span class="post-description"><%= post.body.first(250) %></span>
          </div>

          <div class="post-comments">
  <span class="glyphicon glyphicon-comment"></span>
  <span class="comment-count"><%= post.comments.count %></span>
</div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>